<div class="col-sm">
	<div class="card" style="width: 18rem;">
		<img class="card-img-top" src="https://i.pinimg.com/736x/c5/ea/88/c5ea885c9cf5f7f8fc9b3fb73dcffa42.jpg" alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title">{{title}}</h5>
			<p class="card-text">{{content}}</p>
			<footer class="blockquote-footer">Written by
				<cite title="Author">{{author}}</cite>
			</footer>
			<a href="#" class="btn btn-primary">Read article</a>
		</div>
	</div>
</div>
